@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Poppins:wght@200;300;400;500;700&display=swap');

body {
    background-color: #F8F8F8;
}

@layer utilities {

    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }
}

.btn {
    @apply px-4 py-2 border bg-tertiary mb-4 mx-2
}

.statusBar {
    width: 0;
    animation: statusBarWidth 5s linear 1;
}

@keyframes statusBarWidth {
    0% {
        width: 0%;
    }

    25% {
        width: 25%;
    }

    50% {
        width: 50%;
    }

    75% {
        width: 75%;
    }

    100% {
        width: 100%;
    }
}

.btn-text-shadow {
    text-shadow: 0px -0.5px 1px rgba(255, 255, 255, 0.55), 0px 0.5px 2px rgba(0, 0, 0, 0.50);
}

.btn-shadow {
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 2px #FFEBEB, 0px 5px 8px -5px #FFD3D3 inset, 0px -3px 8px -5px rgba(0, 0, 0, 0.70) inset;
}

.addBtn-shadow {
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px #FFEBEB, 0px 5px 8px -5px #FFD3D3 inset, 0px -3px 8px -5px rgba(0, 0, 0, 0.70) inset;
}

.Nav-link .active {
    background-color: #F7F7F7 !important;
    /* background-color: rgb(255 89 93 / 11%); */
    border-radius: 999%;

}

.smallTriangle {
    clip-path: polygon(49% 13%, 0% 100%, 100% 100%);
    position: absolute;
    rotate: 58deg;
    top: 54%;
    left: 16%;
    transform: translate(-50%, -50%);
    width: 16px;
    height: 16px;
    display: none;
}

.homeLink.active .smallTriangle {
    display: block;
}

.categoriesLink .solid-icon,
.wishlistLink .solid-icon,
.cartLink .solid-icon {
    display: none;
}

.categoriesLink.active .outline-icon,
.wishlistLink.active .outline-icon,
.cartLink.active .outline-icon {
    display: none;
}

.categoriesLink.active .solid-icon,
.wishlistLink.active .solid-icon,
.cartLink.active .solid-icon {
    display: block;
}

.profileLink.active>div {
    padding: 2px;
    background-color: #000;
}

.wave::before ,.wave::after{
    content: '';
    width: 70%;
    height: 70%;
    position: absolute;
    border: 2px solid #FF595D;
    border-radius: 50%;
    animation: cartUpdate .6s 2 cubic-bezier(0, 0.73, 0.57, 1);
    opacity: 0;
}
.wave::after{
    border: 1px solid #DB3B47;
    animation-delay: .2s;
}
.blast::after,.blast::before{
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: red;
    border-radius: 50%;
    animation: blast .6s infinite  cubic-bezier(0, 0.73, 0.57, 1);
    opacity: 0;
    right: 0;
}
.blast::before{
    background: olive;
    animation-delay: .4s;
    left: 0;
    
}
.blast1::before{
    background-color: #DB3B47;
    top: 4px;
}
.blast1::after{
    background-color: black;
    top: 4px;
}
@keyframes cartUpdate {
    0%{width: 0;height: 0;opacity: 0;}
    25%{width:25%;height:25%;opacity: .5; background-color: #FF595D;}
    50%{width:50%;height:50%;opacity: .8; background-color: #FF595D;}
    75%{width:75%;height:75%;opacity: 1;}
    100%{width:100%;height:100%;opacity: 1;}
}

@keyframes blast {
    0%{scale: 0; opacity: 0;}
    25%{scale: 1; opacity: .5;}
    50%{scale: 1.1; opacity: .8;}
    75% {scale: 1.2;opacity: 1;}
    100%{scale: 1.5; opacity: 1;}
    
}